body {
  background: url('images/bg-body.jpg') top right no-repeat;
  background-attachment: fixed;
}

.solid {
  opacity: 1;
}

.semi-transparent {
  opacity: 0.7;
}

.cursive {
  font-family: 'Satisfy', cursive;
}

.slider .indicators .indicator-item.active {
  background-color: #795548 !important;
}

.slider .indicators .indicator-item {
  background-color: #FFFFFF !important;
}
