<div [ngSwitch]="page">
    <!-- About page -->
    <span *ngSwitchWhen="'about'">
        <aboutpage></aboutpage>
    </span>
    <!-- Home page (default) -->
    <span *ngSwitchDefault>
        <homepage></homepage>
    </span>
</div>
<!-- Social Media -->
<div class="row container">
    <div class="card-panel amber lighten-5 z-depth-3">
        <span class="flow-text brown-text">
            Follow us on
        </span>
        <br /><br />
        <!-- Instagram -->
        <div class="chip white brown-text">
            <a target="_blank" href="https://www.instagram.com/reminisceanddelight/" class="brown-text">
                <img src="images/insta.ico" alt="I" />
                Instagram
            </a>
        </div>
    </div>
</div>
<!-- Button Menu -->
<div class="fixed-action-btn click-to-toggle horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large brown">
        <i class="large material-icons white-text">menu</i>
    </a>
    <ul>
        <li>
            <a class="waves-effect waves-light btn brown hide-on-small-only" (click)="setPage('home')">Home</a>
            <a class="btn-floating brown hide-on-med-and-up" (click)="setPage('home')"><i class="material-icons">home</i></a>
        </li>
        <li>
            <a class="waves-effect waves-light btn brown hide-on-small-only" (click)="setPage('about')">About</a>
            <a class="btn-floating brown hide-on-med-and-up" (click)="setPage('about')"><i class="material-icons">info</i></a>
        </li>
        <li>
            <a class="waves-effect waves-light btn brown hide-on-small-only" target="_blank" href="https://www.etsy.com/shop/reminisceanddelight">Shop</a>
            <a class="btn-floating brown hide-on-med-and-up" target="_blank" href="https://www.etsy.com/shop/reminisceanddelight"><i class="material-icons">shop</i></a>
        </li>
    </ul>
</div>
